<<<<<<< Updated upstream:blocks/form-change/__name-text/edit-profile__name-text.css
.edit-profile__name-text {
=======
.form-change__text {
>>>>>>> Stashed changes:blocks/form-change/__text/form-change__text.css
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 10px;
  margin-bottom: 28px;
  font-family: 'Inter' , 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
<<<<<<< Updated upstream:blocks/form-change/__name-text/edit-profile__name-text.css

=======
.form-change__text:last-child {
  margin-bottom: 0;
}
>>>>>>> Stashed changes:blocks/form-change/__text/form-change__text.css
