.profile__avatar {
  /*задаю жесткие значение высоты и ширины, т.к. элемента размер не должен зависить от его контента и никак не меняется*/
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 50%;
}